@font-face {
    font-family: "Merriweather", serif ;
    font-family: "Inter", sans-serif ;
    src: url('https://fonts.googleapis.com/css2?family=Arvo&family=Inter:wght@300&family=Merriweather:ital,wght@0,300;1,400&display=swap');
}
body{
    margin: 0;
    font-size: 19px;
    background-image: url(images/school.jpg);
    background-size: auto;

}


#main-header{
   border-top: 3px solid rgb(15, 110, 110);
   border-bottom: 3px solid rgb(15, 110, 110);
   height: 15vh;
   width:100%;
   font-size: 2em;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(245, 245, 245, 0.5);
   font-family: "Merriweather" serif;

}
h1{
    text-align: center;
}
.heading{
    font-family: "Merriweather", serif;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: rgba(245, 245, 245, 50%)
}

.nav {
    display: flex;
    /* justify-content: flex-end; */
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%;  */
    z-index: 3;
    flex-direction: column;
    gap: 5px;
    margin: .5rem;
    
    
  }
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  nav p:hover{
    background-color: rgb(18, 123, 123);
  }
  nav p {
    height:30px;
    width: 200px;
    background-color: whitesmoke;
    border: 2px solid rgb(18, 123, 123);
    border-radius: 3%;
    padding-top: 10px;
    text-align: center;
    margin: 0;
   
}
a {
    text-decoration: none;
    color: rgb(14, 121, 143);
    
}
p, li{
    font-family: serif
}
footer {
    background-color: rgba(245, 245, 245, 50%);
    text-align: center;
    
}
